
<article class='review m-2'>
    <div class='comment'>
      <div class="comment-text">
        {{comment_text}} 
        </div>
      <div class="comment-username">{{user.username}}</div>
    </div>
    
</article>