<article class='review'>
    <h3 class='title'>
        {{review_title}}
    </h3>
    <div class='review-details'>
        Created: {{format_date created_at}} | <a href="/create-review">Edit</a> | Delete
    </div>
</article>