<article class='review m-2'>
    <h3 class='review-title'>
        {{review_title}}
    </h3>
    <div class='review-details'>
        Created: {{format_date created_at}} | <span class='delete-btn'>Delete</span>
    </div>
</article>