<article class='review m-2'>
    <h3 class='review-title'>
        {{review_title}}
    </h3>
    <div class='review-details'>
        Created: {{format_date created_at}} | <a href='/edit-review/{{id}}'>Edit</a> | <span class='delete-btn' id='r{{id}}'>Delete</span>
    </div>
</article>