
<div>
<button type="submit">Log Out</button>
    
</div>
<ul>
  {{#each review}}
  <li>
    <p>Title: {{review_title}}</p>
    {{!-- <p>Comments: {{comments}}</p> --}}
    <p>Date: {{format_date created_at}}</p>
  </li>
  {{/each}}
</ul>




