
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Read Views</title>
  <link rel="stylesheet" href="/public/css/input.scss">
</head>

<body>
  <div class="wrapper">
    <header>
          
    <h1>
      Read Views
    </h1>

    
    <nav>
    <a href="/login">Login</a>
      <a href="/signup">Sign Up Here!</a>
    </nav>
    </header>
  </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting! Made by QS, MA, AND MP
    </footer>
  </div>

</body>

</html>