// contains all button, review form and user form styling // 





.user-form {
      width: 35%;
      border-radius: .25rem;
      padding: 10px 5px;
      margin: 0 auto;
      text-align: right;
      button {
      background-color: $primaryColor1;
      :hover {
        color: white;
        opacity: 0.6;
    }
    }
  }
  .login-form {
    width: 35%;
    border-radius: .25rem;
    padding: 10px 5px;
    margin: 0 auto;
    text-align: center;
    button {
    background-color: $primaryColor1;
    :hover {
        color: white;
        opacity: 0.6;
    }
  }
}
  
  .navbar {
      margin: 0 auto 20px;
      border: none;
      background: none;
      color: $primaryColor3;
      font-size: 18px;
      cursor: pointer;
      &.navbar {
        margin: 0 10px 10px;
        background: $primaryColor1;
        :hover {
          color: $primaryColor3;
        }
      }
  }

  a {
    color: inherit;
  }