// contains all button, review form and user form styling // 





.user-form {
      width: 35%;
      border-radius: .25rem;
      padding: 10px 5px;
      margin: 0 auto;
      text-align: right;
      .button {
      background-color: $primaryColor1;
      :hover {
        color: white;
        opacity: 0.6;
    }
    }
  }
  .login-form {
    width: 35%;
    border-radius: .25rem;
    padding: 10px 5px;
    margin: 0 auto;
    text-align: center;
    .button {
    background-color: $primaryColor1;
    :hover {
        color: white;
        opacity: 0.6;
    }
  }
}
  
  .navbar {
      margin: 0 auto 30px;
      border: none;
      background: none;
      color: $primaryColor3;
      font-size: 18px;
      cursor: pointer;
      &.navbar {
        margin: 0 auto 30px;
        background: $primaryColor1;
        :hover {
          color: $primaryColor3;
        }
      }
  }

  a {
    color: inherit;
  }

  .review-options {
    text-align: left;
  }

  .review-section {
    .title {
      text-align: left;
    }
    .book-search {
      width: 100%;
      .input {
        width: 85%;
      }
    }
  }

  .review {
    background-color: $primaryColor1Light;
    .title {
      text-align: left;
    }
  }

  .section {
    font-size: $font-size;
  }