// contains all styles for the title, header and footer // 

.hero-body {
    background-image: url("/assets/images/logo.png");
    margin: 0 auto;
    background-repeat: no-repeat;
    width: 415px;
    height: 215px;
    }

.footer {
    padding: 1.5rem;
    font-size: $font-size;

}
// not signed in page // 
.intro {
    text-align: center;
    color: grey;

}

.title {
    font-weight: bold;
    text-align: center;
    color: $primaryColor1;
}

.section {
    padding: 1.5rem !important;
}
