// should contain all styles for the layout/ header / footer // 

h1 {
    font-weight: 100;
    text-align: center;
    color: $primaryColor2;

}

.main-header {
    background-color: $primaryColor1;
  }

