// contains all styles for the title, header and footer // 

.title {
    font-weight: bold;
    text-align: center;
    color: $primaryColor1;

}
.footer {
    padding: 1.5rem;
}
// not signed in page // 
.intro {
    text-align: center;
    color: grey;

}


