// should contain all styles for the layout/ header / footer // 

h1 {
    weight: bold;
    text-align: center;
    color: $primaryColor1;

}

.main-header {
    background-color: $primaryColor2;
  }

