// contains all imports and variables // 



$font-style:    Monospace;
$container-width: 100;
$margin: 1;
$font-size: 18px;

$primaryColor1: #a2b9bc;
$primaryColor1Light: rgba(162,185,188, .4);
$primaryColor2: #b2ad7f;
$primaryColor3: #878f99;




@import 'layouts';
@import 'components';
@import 'base';






