<section id="createreview">
<div class="title">Search for a book to review!</div>
<div class="booksearch">
{{!-- <input type="text" id="booksearch"></input> --}}
<input class="input p-2 m-2" type="text" name="book-search" id="book-search" placeholder="search books"/>
<button class="button p-2 m-2" type="submit">search</button>
<div id="bookseachresults"></div>
</div>

</section>
{{#if reviews.length}}
<section class='section'>
<ul>
  {{#each book}}
  {{#if reviewed}}
  <li>
    <p>Title: {{title}}</p>
    <p>Author: {{author}}</p>
    <p>Review: {{review_title}}</p>
  </li>
  {{/if}}
  {{/each}}
</ul>
</section>
{{/if}}



<script src="/javascript/get-book.js"></script>
