<section id="createreview">
<div class="">Create a Review, Search for Book!</div>
<div class="">
<input type="text" id="booksearch"></input>
<button id="gobooksearch">Search for a Book to review!</button>
<div id="bookseachresults"></div>
</div>

</section>
{{#if reviews.length}}
<section class='section'>
<ul>
  {{#each book}}
  {{#if reviewed}}
  <li>
    <p>Title: {{title}}</p>
    <p>Author: {{author}}</p>
    <p>Review: {{review_title}}</p>
  </li>
  {{/if}}
  {{/each}}
</ul>
</section>
{{/if}}



<script src="/javascript/get-book.js"></script>
