<section class='section'>
  <div class='tile is-ancestor' id="createreview">
    <div class='tile is-parent s-vertical'>
      <article class='tile is-child box'>
        <h2 class="">Search for a Book</h2>
        <p class='subtitle'>Create a review by selecting a book from your search</p>
        <div class='content'>
          <form class="book-search">
            <input type="text" id="booksearch"></input>
            <button id="gobooksearch" class='button'><span class="oi oi-magnifying-glass"></span></button>
          <div id="bookseachresults"></div>
          </form>
        </div>
      </article>
    </div>
  </div>
  {{#if reviews.length}}
  <div class='tile is-ancestor' id='review-list'>
    <div class='tile is-parent s-vertical'>
      <article class='tile is-child box'>
        <h2 class="">Search for a Book</h2>
        <p class='subtitle'>Create a review by selecting a book from your search</p>
        <div class='content'>
          <ul>
            {{#each book}}
            {{#if reviewed}}
            <li>
              <p>Title: {{title}}</p>
              <p>Author: {{author}}</p>
              <p>Review: {{review_title}}</p>
            </li>
            {{/if}}
            {{/each}}
          </ul>
        </div>
        </article>
      </div>
    </div>
  {{/if}}
</section>



<script src="/javascript/get-book.js"></script>
