
{{#if reviews.length}}
<section class='section'>
<ul>
  {{#each book}}
  {{#if reviewed}}
  <li>
    <p>Title: {{title}}</p>
    <p>Author: {{author}}</p>
    <p>Review: {{review_title}}</p>
  </li>
  {{/if}}
  {{/each}}
</ul>
</section>
{{/if}}
