{{#if loggedIn}}
<section class='section'>
  {{#each reviews as |review|}}
    <li> 
      {{> review-info review}}
  </li>
  {{/each}}
</ol>
</section>
{{else}}
<section class='section'>
  <article class='intro'>It looks like you're not logged in! 
  </article>
  <form class="control login-form">
        <button class="button p-2 m-2" type="submit"><a href="/login">login</a></button>
        <button class="button p-2 m-2" type="submit"><a href="/signup">sign up</a></button>
    </form>
</section>
{{/if}}