
$font-stack:    Helvetica, sans-serif;


body {
  font: 100% $font-stack;
  color: $primary-color;
}


nav {
  ul {
    margin: 5;
    padding: 5;
    list-style: none;
    font-size: large;
  }
  h1 {
      color: orange;
      font-size: 20px;
    
  }

}

nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li { display: inline-block; }

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }
}





